<main>
  <h1> Input Tasks </h1>
  <table class="table">
    <thead>
      <tr>
        <th>
          What to do?
        </th>
      </tr>
    </thead>
    <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td>
        <%=task.name %> </a>
        <% end %>
       </td>



    <form action="/task" method="get">
      <label for="task">----></label>
      <input type"text" name="list[name]" value=""
      placeholder= "Whatcha wanna do?" >
      <input class="btn" type="submit" name="submit" value="Create!"
    </form>




  </table>
</main>
